:root {
    --color-bg: #FAFAFA;
    --color-fg: #0B0B0B;
    --color-primary: #E9E9E9;
    --color-primary2: #C2C2C2;
    --color-secondary: #252525;
    --color-accent: #6181CA;
    --color-shadow: #C6C6C6;
    --color-red: #E34F4F;
    --color-border: var(--color-primary2);

    font-family: monospace;
}
[data-theme="dark"] {
    --color-bg: #0B0B0B;
    --color-fg: #FAFAFA;
    --color-primary: #212121;
    --color-primary2: #2C2C2C;
    --color-secondary: #F1F1F1;
    --color-accent: #506DDC;
    --color-shadow: #141414;
    --color-red: #FF3A3A;
    --color-border: #5B5B5B;
}

body {
    margin: 0;
    background-color: var(--color-bg);
}

main {
    display: flex;
    place-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.free-container {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 10px 0px 15px var(--color-shadow) inset;
    overflow: hidden;
}

.panel {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-bg);
    height: 100vh;
    width: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
}

button {
    border: none;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-fg);
    cursor: pointer;
    margin: 5px 15px;
    border-radius: 2px;
    min-width: 200px;
}
button:hover, button:active {
    background: var(--color-secondary);
    color: var(--color-primary);
}

.accent-btn {
    background: var(--color-accent);
    color: var(--color-primary);
    margin-top: 10px;
}

.deleteButton {
    padding: 0;
    min-width: 31px;
    width: 31px;
    height: 36px;
    background: var(--color-bg);
    border: 1px solid var(--color-red);
    margin: 0px 5px;
    /* border-radius: 50%; */
}
.deleteButton:hover {
    background: var(--color-red);
    color: var(--color-fg);
}

.extra-delete {
    margin: 30px 0;
    background-color: var(--color-red);
}

p {
    margin: 10px 0 5px 0;
    color: var(--color-fg);
}

.small .react-colorful {
    height: 150px;
    cursor: pointer;
}

hr {
    border-top: 1px solid var(--color-primary);
    min-width: 220px;
}

input {
    padding: 10px;
    background: var(--color-primary);
    width: 150px;
    border: 1px solid var(--color-border);
    /* border-radius: 10px; */
    color: var(--color-fg);
    margin: 3px 0 3px 5px;
}
input:focus {
    outline: none;
    border-radius: 0px;
    border: 1px dashed var(--color-border);
}

.diggas {
    display: flex;
    position: absolute;
    cursor: pointer;
    /* border: 3px solid lightgreen; */
    box-shadow: 0 0px 8px 0 var(--color-shadow), 0 6px 20px 0 var(--color-shadow);
}

.app-container {
  min-width: 100px;
  border: 2px solid;
  user-select: none;
}

.app-header {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 10px 30px;
}

.property-container {
  display: flex;
  flex-direction: column;
  border-top: 2px solid;
  padding: 10px 30px 10px 15px;
}

.property-row {
  display: flex;
  white-space: nowrap;
}

.property-name {
  font-size: 18px;
}

.property-value {
  font-size: 18px;
  padding-left: 10px;
}

.method-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.method-row {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 10px 10px 15px;
  border-top: 2px solid;
}

.method-name {
  font-size: 18px;
}

.polka-pattern {
    background-color: var(--color-bg);
    background-image: radial-gradient(var(--color-primary2) 1.1px, var(--color-bg) 1.1px);
    background-size: 22px 22px;
}
