:root {
    --color-bg: #0B0B0B;
    --color-fg: #F5FFF0;
    --color-primary: #3D3D3D;
    --color-secondary: #46B129;
    --color-accent: #C29700;
    --color-shadow: #060606;
}

body {
    margin: 0;
    background-color: var(--color-bg);
}

main {
    display: flex;
    place-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.free-container {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 10px 0px 15px var(--color-shadow) inset;
    overflow: hidden;
}

.panel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 300px;
    overflow: hidden;
}

button {
    border: none;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-fg);
    cursor: pointer;
}
button:hover, button:active {
    background: var(--color-secondary);
    color: var(--color-primary);
}

.accent-btn {
    background: var(--color-accent);
    color: var(--color-primary);
}

.deleteButton {
    padding: 0;
    width: 31px;
    height: 36px;
    background: var(--primary-color);
    border: 1px dashed #FF3232;
    margin: 0px 5px;
    /* border-radius: 50%; */
}
.deleteButton:hover {
    background: #FF3232;
}

input {
    padding: 10px;
    background: #1d1d1d;
    width: 150px;
    border: 1px dashed #444444;
    /* border-radius: 10px; */
    color: white;
    margin: 3px 0 3px 5px;
}
input:focus {
    outline: none;
    border-radius: 0px;
    border: 1px dashed var(--secondary-color);
}

.diggas {
    display: flex;
    position: absolute;
    cursor: pointer;
    /* border: 3px solid lightgreen; */
    box-shadow: 0 0px 8px 0 var(--color-shadow), 0 6px 20px 0 var(--color-shadow);
}

.app-container {
  min-width: 100px;
  border: 2px solid;
  user-select: none;
}

.app-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 30px;
}

.property-container {
  display: flex;
  flex-direction: column;
  border-top: 2px solid;
  padding: 10px 30px 10px 15px;
}

.property-row {
  display: flex;
  white-space: nowrap;
}

.property-name {
  font-size: 21px;
}

.property-value {
  font-size: 21px;
  padding-left: 10px;
}

.method-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.method-row {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 10px 10px 15px;
  border-top: 2px solid;
}

.method-name {
  font-size: 21px;
}

.polka-pattern {
    background-color: var(--color-bg);
    background-image: radial-gradient(var(--color-primary) 1.1px, var(--color-bg) 1.1px);
    background-size: 22px 22px;
}
